GCP_SERVICE_ACCOUNT={"type":"service_account","project_id":"...","private_key_id":"...","private_key":"-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n","client_email":"...@....iam.gserviceaccount.com","client_id":"..."}
SPREADSHEET_ID_COMERCIO=1Sd9f0PTfGvFsOPQhA32hUp2idcdkX_LVYQ-bAX2nYU8
AUTORIZACIONES_SHEET_NAME=Autorizaciones_CA
